<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
</head>

<body>
    <h1><%-title%></h1>
    <!-- 表单上传文件时需要改变属性为  enctype="multipart/form-data" -->
    <form action="/imgUpload" method="POST" enctype="multipart/form-data">
        <input type="file" name="imgName" id="">
        <button type="submit"><%-content%></button>
    </form>
</body>

</html>