<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/login.min.css" />
    <script src="../javascripts/login.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="./stylesheets/login.css" />

    <style>
        * {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        body {
            background-color: #fff;
            margin: 0px;
            overflow: hidden;
            font-family: arial;
            color: #fff;
        }

        #canvas {
            width: 100%;
            height: 100%;
            overflow: hidden;
            top: 0;
            left: 0;
            background-color: #1a1724;
        }

        .canvas-wrap {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

        div.canvas-content {
            position: relative;
            z-index: 2000;
            color: #fff;
            text-align: center;
            padding-top: 30px;
        }
    </style>
</head>

<body>


    <div class="canvas-wrap">
        <div id="canvas" class="gradient"></div>
    </div>

    <form class="mui-input-group" action="/register" method="POST">
        <div class="mui-text-center">
            <h1>欢迎注册本系统</h1>
        </div>
        <div class="mui-text-center">
            使用账号和密码
        </div>
        <div class="mui-input-row">
            <label for="name">账号：</label>
            <input type="text" name="username" class="mui-input-clear" id="name" placeholder="请输入账号">
        </div>
        <div class="mui-input-row">
            <label for="pass">密码：</label>
            <input type="password" name="password" class="mui-input-clear" id="pass" placeholder="请输入密码">
        </div>
        <div class="mui-input-row">
            <label for="pass2">再次输入密码：</label>
            <input type="password" name="password2" class="mui-input-clear" id="pass2" placeholder="请输入密码">
        </div>
        <button type="submit" disabled=true style="cursor: not-allowed;" class="mui-btn-block" id="loginBtn">注册</button>
        <div class="myfooter">
            <p><a href="/login">登录</a></p>
        </div>
    </form>
</body>
<script>
    window.addEventListener('load', function () {
        let form = document.querySelector('form');
        let inputs = document.querySelectorAll('form input');
        let btn = document.querySelector('#loginBtn')
        form.addEventListener('input', function () {
            let isAble = true;
            // 判断所有输入框的内容不为空
            inputs.forEach((item, i) => {
                if (item.value == '') {
                    isAble = false;
                }
            })
            // 判断两个密码框中的内容是否相等
            if (inputs[1].value == inputs[2].value && isAble) {
                btn.disabled = false;
                btn.style.cursor = 'pointer';
            } else {
                btn.disabled = true;
                btn.style.cursor = 'not-allowed';
            }
        })
    })
</script>
<script src="./javascripts/login.three.min.js"></script>
<script src="./javascripts/login.projector.js"></script>
<script src="./javascripts/login.canvas-renderer.js"></script>
<script src="./javascripts/login.3d-lines-animation.js"></script>
<script src="./javascripts/jquery.1.7.1.min.js" type="text/javascript"></script>
<script src="./javascripts/login.color.js"></script>

</html>